.navRoot {
  position: fixed;
  width: 30%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1000;
  top: 0;
  right:0;
  gap: 20px;
  &::after {
    content: "";
    width: 20px;
  }
  background-color: aqua;
}

.navItem {
  padding: 4px;
  position: relative;
  user-select: none;
  cursor: pointer;

  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor; // 使用文字颜色
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}
