.loginRoot {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url('/login/loginBg4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .loginImg {
    width: 60%;
    height: 100%;
  }

  .loginOption {
    background-color: rgba(255,255,255,1);
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -10px 0 8px rgba(0, 0, 0, 0.4) ;
    border-radius: 10px 0 0 10px;
  }
}

.loginForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
